@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');


*{
  font-family: 'Nunito', sans-serif;
}

.bg-dark{
  background-color: #000D17 !important;
}

.img-fluid {
  height: 300px;
}
.img-fluid-container {
  height: 350px;
  width: 350px;
  float: right;
  shape-outside: circle(50%);
}

@media (max-width: 575.98px) {
  .navbar-nav .nav-item .nav-link{
    float: left;
    margin-right: .5em;
    font-size: 1.2em;
  }

  .navbar-nav{
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1em;

  }
}


@media (max-width: 767.98px) { 

}

@media (max-width: 991.98px) {  

}

@media (max-width: 1199.98px) { 

}

@media (max-width: 1399.98px) { 

}

h1{
  color: #F8CFB8;
}

h2{
  color: #F8CFB8;
}

p + ul {
  margin-top: -1em;
}

#skills li{
  list-style: square;
}

.activate{
  background-color: red;
}

.social-links{
  font-size: 2rem;
}

.text-cyan:link, .text-cyan:visited{
  color: #82E5ED;
}

.text-magenta:link, .text-magenta:visited{
  color: #82E5ED;
}

.text-yellow:link, .text-yellow:visited{
  color: #82E5ED;

}
.text-green:link, .text-green:visited{
  color: #82E5ED;
}


.nav-link:hover{
  color: white;
}

.nav-link:active{
  color: white;
}

.text-transition{
  transition: font-size .2s;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes opacityIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacityFull {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}


.textSlideInFromBottomSlow {  
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 2s ease-in-out 0s 1 slideInFromBottom, 2s ease-in 0s 1 opacityIn;
}



.opacityInDelay { 
  opacity: 0;
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 1s ease-in-out 2s 1 opacityIn;
  animation-fill-mode: forwards;
}

.textSlideInFromBottomFast {  
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 1s ease-in-out 0s 1 slideInFromBottom, 1s ease-in 0s 1 opacityIn;
}

.hideOverflowAnimation{
  overflow: hidden;
}

.delayedFade{
  animation: 1s ease-in-out 0s 1 opacityFull;
  animation-fill-mode: forwards;
}


